{% extends 'base.html' %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4>Selamat Datang, {{ current_user.username }}</h4>
            </div>
            <h2>MENU</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Kategori</h5>
                            <a href="{{ url_for('kategori.list_kategori') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Layanan</h5>
                            <a href="{{ url_for('layanan.list_layanan') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Pegawai</h5>
                            <a href="{{ url_for('pegawai.list_pegawai') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Produk</h5>
                            <a href="{{ url_for('produk.list_produk') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Pasien</h5>
                            <a href="{{ url_for('pasien.list_pasien') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Transaksi</h5>
                            <a href="{{ url_for('transaksi.list_transaksi') }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}

